# build
/build/
/.gradle/
*.iml
.externalNativeBuild/
.cxx/

# locales
/local.properties
.DS_Store
/captures/

# prop
/juan.properties

# config
/.idea/
#mantener
!/.idea/inspectionProfiles/
!/.idea/vcs.xml
